@model DocumentManagementSystem.Web.Models.Login.LoginViewModel

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="~/Content/Login/login-page.css" rel="stylesheet" />
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Include the above in your HEAD tag -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<div class="main">
    <div class="container">
        <center>
            <div class="middle">
                <div id="login">

                    @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                    {
                        <fieldset class="clearfix">
                            <p><span class="fa fa-user"></span>@Html.TextBoxFor(x => x.UserMail, new { @required = "required", @Placeholder = "User Mail" })</p>
                            <p><span class="fa fa-lock"></span>@Html.TextBoxFor(x => x.UserPassword, new { @required = "required", @Placeholder = "Password", @type = "password" })</p>
                            <div>
                                <span style="width:48%; text-align:left;  display: inline-block;">
                                    <a class="small-text" href="#">
                                        Forgot
                                        password?
                                    </a>
                                </span>
                                <span style="width:50%; text-align:right;  display: inline-block;"><input type="submit" value="Sign In"></span>
                            </div>
                        </fieldset>
                    }
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                </div> <!-- end login -->
                <div class="logo">
                    @*LOGO*@
                    <img src="~/Images/emu-logo.png" class="img-fluid" alt="Eastern Mediterranean University">
                    <div class="clearfix"></div>
                </div>
            </div>
        </center>
    </div>
</div>